.LogoBox {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 183px;
    height: 63px;
    left: 49px;
    top: 142px;
}

.LogoHead{
    width: 183px;
}

.LogoSign{
    width: 141px;
    height: 12px;
    margin-top: 5px;
    margin-left: 13px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 15px;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #52555F;
}

/* ----------------------------------------tablet ---------------------------------*/

@media screen and (min-width: 768px) {
    .LogoBox {
        width: 307px;
        height: 101px;
        left: 161px;
        top: 146px;
        }

    .LogoHead {
        width: 307px;
        height: 78px;
    }

    .LogoSign {
        margin-left: 50px;
        margin-top: 5px;
        width: 179px;
        height: 19px;

        font-size: 16px;
        line-height: 19px;
        letter-spacing: 0.18em;
        color: #52555F;
    }
}