.logo {
  margin-left: 19px;
  margin-top: 12px;
}

.headerContainer {
  display: flex;
  width: 320px;
  height: 56px;
}
.logout {
  margin-top: 20px;
  margin-left: auto;
  margin-right: 19px;
}
.user {
  width: 32px;
  margin-top: 12px;
  height: 32px;
  margin-left: 129px;
  background: #f5f6fa;

  border-radius: 50%;
}
