.backgroundPage {
    position: relative;
    height: 100vh;
    width: 100%;
}

.background {
    background-image: url(../../../images/background-m.png);
    background-repeat: no-repeat;

    width: 320px;
    height: 342px;
    margin: 0;
    z-index: 0;
    /* left: 0px;
    top: 0px; */
    /* height: 342px;
    border-bottom-left-radius: 100px;
    background: #f5f6fb;
    width: 100%; */
}

.coles {
    position: absolute;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-image: url(../../../images/background/Vector_mob1.png),
        url(../../../images/background/Vector.png);
    background-position: left 281px top 160px, left 35px top 767px;
    color: #DFE2EB;
}

@media screen and (min-width: 768px) {
    .background {
        height: 582px;
        background-repeat: no-repeat;
        background-image: url(../../../images/background/cabb_up.png);
        background-position: 10px 84px;
        background-size: 1280px, 232px;
    }

    .coles {
        background-repeat: no-repeat;
        background-image: url(../../../images/background/double_cabb.png);
        background-position: left 103px bottom 56px;
    }
}

@media screen and (min-width: 1280px) {
    .coles {
        background-position: left 230px bottom 50px;
    }
}