
/* =============  Button Enter*/

.btnEnter {
  margin: auto;
  background: #FF751D;
  width: 125px;
  height: 44px;
  text-transform: uppercase;
  background-size: 200%;
  background-position: 100%;
  color: #FFFFFF;
  padding: 1em 3em;
  border-radius: 16px;
  display: inline-block;
  filter: drop-shadow(1px 3px 5px rgba(255, 107, 8, 0.35));
  /* box-shadow: 0 0 20px #229999;
  text-shadow: 0 0 5px #000; */
  transition: all 0.7s;
  /* border: solid 1px #777f8b; */
  cursor: pointer;
}

.btnEnter:hover {
  background-size: 200%;
  background-position: 0px;
  box-shadow:1px 3px 5px rgba(221, 91, 5, 0.35)
  
}
