/* =============  Button Google*/
.btnGoogle {
  display: inline-block;

  margin: auto;
  margin-bottom: 30px;

  background: #F5F6FB;
  color: #52555F;
  width: 122px;
  height: 44px;
  
  font-size: 14px;
  font-weight: 500;
  background-position: 100%;
  
  border-radius: 26px;
  border: 0;
  
  filter: drop-shadow(1px 3px 5px rgba(82, 85, 95, 0.15));
  transition: all 250ms ease;
  /* transition: all 0.7s; */
  cursor: pointer;
}

.btnGoogle:hover {
  box-shadow:1px 3px 5px rgba(57, 58, 65, 0.15);
  transform: scale(1.03);
}
/* =============  Btn*/

.btnAuth {
  margin: auto;
  background: #F5F6FB;
  width: 125px;
  height: 44px;
  text-transform: uppercase;
  /* background-size: 200%; */
  background-position: 100%;
  color: #52555F;
  font-size: 12px;
  font-style: 400;
  font-weight: 700;
  border-radius: 16px;
  border: 0;
  display: inline-block;
  filter: drop-shadow(1px 3px 5px rgba(82, 85, 95, 0.15));
  transition: all 0.7s;
  cursor: pointer;
  margin-right: 15px;
  
}

.btnAuth:last-child{
  margin-right: 0;
}

.btnAuth:hover {
  background: #FF751D;
  color: #FFFFFF;
  background-size: 200%;
  background-position: 0px;
  box-shadow:1px 3px 5px rgba(255, 107, 8, 0.35);
}