/*-------------------------стили для приватных роутов ---------------------------*/
.backgroundWrapper {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(./images/background-m.png);
  background-repeat: no-repeat;
  background-position: top -86px center;
}

@media screen and (min-width: 768px) {
  .backgroundWrapper {
    max-width: 768px;
    background-image: url(./images/background-t.png);
    background-size: 768px, 183px;
    background-position: top -56px center, right 88px bottom 64px;
  }
}

@media screen and (min-width: 1280px) {
  .backgroundWrapper {
    max-width: 1280px;
    background-image: url(./images/background-d.png);
    background-size: 1280px, 1280px;
    background-position: top -56px left 0, left 2px bottom -7px;
  }
}

/*-------------------------стили для публичных роутов ---------------------------*/
/* .backgroundAuth {
  max-width: 320px;
  margin-left: auto;
  margin-right: auto;
  background-image: url(./images/background-m.png);
  background-size: 84px, 86px, 320px;
  background-repeat: no-repeat;
  background-position: right -20px top 104px, left 6px bottom 6px, top 0 center;
}

@media screen and (min-width: 768px) {
  .backgroundAuth {
    max-width: 768px;
    background-image: url(./images/background-t.png);
    background-size: 1200px, 768px, 183px;
    background-position: top 20px left 10px, top 0 left 0, left 100px bottom 56px;
  }
}

@media screen and (min-width: 1280px) {
  .backgroundAuth {
    max-width: 1280px;
    min-height: 920px;
    background-image: url(./images/background-d.png);
    background-size: 1280px, 1280px, 183px;
    background-position: top 20px left 10px, top 0 left 0, left 100px bottom 56px;
  }
} */