@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&family=Roboto:wght@400;500;700;900&display=swap');

.react-datepicker-ignore-onclickoutside,
.CurrentDateCalendar {
  border: none;
  outline: none;
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  font-size: 12px;
  line-height: 14px;
  width: 80px;
  text-align: center;
}

/* .react-datepicker__month-container, */
.react-datepicker {
  border: 2px solid #e9e5e5;
  border-radius: none;
}

.react-datepicker__triangle {
  display: none;
}

.react-datepicker__year-read-view--selected-year,
.react-datepicker__year-read-view {
  margin-top: 5px;
  font-weight: 500;
  color: #c9c1c1;
}
